@page "{id}"
@model TRHDipComp_Project.Areas.AssessmentPages.Pages.DeleteAssessmentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete Assessment";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Delete Assessment</h2>
            <h4 class="text-center">@Model.Assessment.AssessmentName </h4>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br />

<div class="container">
    <div class="col-md-4"></div>

    <form method="post">
        <br />
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <input type="hidden" asp-for=Assessment.AssessmentID>
                <button type="submit" class="btn btn-primary" OnClick="UserDeleteConfirmation()"><strong>Delete Assessment</strong> <br /> @Model.Assessment.AssessmentName</button>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br />
        <br />
    </form>
    <div class="col-md-4"></div>
</div>

<script type="text/javascript">
    function UserDeleteConfirmation() {
        return confirm("Confirm delete");
    }
</script>