@page "{id}"
@model TRHDipComp_Project.Areas.TeacherPages.Pages.UpdateTeacherDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "UpdateTeacherDetails";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Update Teacher Details</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<div class="container">
    <form method="post" class="form-horizontal" enctype="multipart/form-data">

        <div class="row">
            <br />
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Upload class="control-label"></label>
                <div>
                    <input type="file" asp-for=Upload class="form-control" readonly>
                    <span asp-validation-for=Upload></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <br />
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.TeacherID class="control-label  font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.TeacherID class="form-control" readonly>
                    <span asp-validation-for=Teacher.TeacherID></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.FirstName class="control-label"></label>
                <div>
                    <input type="text" asp-for=Teacher.FirstName class="form-control font-weight-bold">
                    <span asp-validation-for=Teacher.FirstName></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.SurName class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.SurName class="form-control">
                    <span asp-validation-for=Teacher.SurName></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.AddressOne class="control-label font-weight-bold"></label>

                <input type="text" asp-for=Teacher.AddressOne class="form-control">
                <span asp-validation-for=Teacher.AddressOne></span>

            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.AddressTwo class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.AddressTwo class="form-control">
                    <span asp-validation-for=Teacher.AddressTwo></span>
                </div>
            </div>
            <div class="col-md-4"></div>
            <br />
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.Town class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.Town class="form-control">
                    <span asp-validation-for=Teacher.Town></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.County class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.County class="form-control">
                    <span asp-validation-for=Teacher.County></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.MobilePhoneNumber class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.MobilePhoneNumber class="form-control">
                    <span asp-validation-for=Teacher.MobilePhoneNumber></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.EmergencyMobilePhoneNumber class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.EmergencyMobilePhoneNumber class="form-control">
                    <span asp-validation-for=Teacher.EmergencyMobilePhoneNumber></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.EmailAddress class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.EmailAddress class="form-control">
                    <span asp-validation-for=Teacher.EmailAddress></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-5">
                <label asp-for=Teacher.TeacherPPS class="control-label font-weight-bold"></label>
                <div>
                    <input type="text" asp-for=Teacher.TeacherPPS class="form-control">
                    <span asp-validation-for=Teacher.TeacherPPS></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for=Teacher.GenderType class="control-label font-weight-bold pull-right"></label>
                </div>
                <div class="form-group col-md-4">
                    <div class="radio">
                        <label asp-for=Teacher.GenderType class="control-label font-weight-bold">
                            <input type="radio" asp-for=Teacher.GenderType value="Male" />
                            <span asp-validation-for=Teacher.GenderType></span>Male
                        </label>
                    </div>
                    <div class="radio">
                        <label asp-for=Teacher.GenderType class="control-label">
                            <input type="radio" asp-for=Teacher.GenderType id="Female" value="Female" />
                            <span asp-validation-for=Teacher.GenderType></span>Female
                        </label>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for=Teacher.FullOrPartTime class="control-label font-weight-bold pull-right"></label>
                </div>
                <div class="form-group col-md-4">
                    <div class="radio">
                        <label asp-for=Teacher.FullOrPartTime class="control-label font-weight-bold">
                            <input type="radio" asp-for=Teacher.FullOrPartTime value="Fulltime" />
                            <span asp-validation-for=Teacher.FullOrPartTime></span>Full time
                        </label>
                    </div>
                    <div class="radio">
                        <label asp-for=Teacher.FullOrPartTime class="control-label">
                            <input type="radio" asp-for=Teacher.FullOrPartTime value="Parttime" />
                            <span asp-validation-for=Teacher.FullOrPartTime></span>Part time
                        </label>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>


        <br />
        <br />

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Enter details</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
    </form>
</div>

