@page
@model AboutModel
@{
    ViewData["Title"] = "About this project ...";
}
<h2>@ViewData["Title"]</h2>

<p>The objective of this project is to provide an integrated multi-user, client-server, 
   web-based application that will manage all of the data for each student registered in 
   the FET institute. 
</p>

<p>Tom Randles, HDip Science & Computing, Sligo IT, 2019</p>

