@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Clybaun Road<br />
    Knocknacarra<br />
    Galway<br />
    <abbr title="Phone">P:</abbr>
    091-581149
</address>

<address>
    <a href="mailto:randles.tom@gmail.com"><strong>Contact Tom Randles</strong></a>
</address>
