@page
@model TRHDipComp_Project.Pages.CreateModuleModel
@{
    ViewData["Title"] = "CreateModule";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create Module</h2>

<form method="post" class="form-horizontal">

    <div asp-validation-summary="All">
        <br />

        <div class="form-group">
            <label asp-for=Module.ModuleID class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Module.ModuleID class="form-control">
                <span asp-validation-for=Module.ModuleID></span>
            </div>
            <div class="col-md-8"></div>
        </div>

        <br />

        <div class="form-group">
            <label asp-for=Module.ModuleName class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Module.ModuleName class="form-control">
                <span asp-validation-for=Module.ModuleName></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for=Module.ModuleDescription class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Module.ModuleDescription class="form-control">
                <span asp-validation-for=Module.ModuleDescription></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for=Module.ModuleCredits class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Module.ModuleCredits class="form-control">
                <span asp-validation-for=Module.ModuleCredits></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        @*Add module to an existing programme*@
        @* Dropdown for existing programmes that the student may select.*@

        <div class="form-group">
            <label class="control-label col-md-2">Programme options:</label>
            <div class="col-md-2">
                <select asp-for=ProgrammeModule.ProgrammeID>

                    @{
                        if (Model.ProgrammeListOptions != null)
                        {
                            foreach (var prog in Model.ProgrammeListOptions)
                            {
                                <option value=@prog.ProgrammeID>@prog.ProgrammeName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-md-10"></div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Enter details</button>
    </div>
</form>