@page
@model TRHDipComp_Project.Pages.CreateAssessmentModel
@{
    ViewData["Title"] = "Create Assessment";
}

<h2>Create Assessment</h2>

<form method="post" class="form-horizontal">

    <div asp-validation-summary="All">
        <br />

        <div class="form-group">
            <label asp-for=Assessment.AssessmentID class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Assessment.AssessmentID class="form-control">
                <span asp-validation-for=Assessment.AssessmentID></span>
            </div>
            <div class="col-md-8"></div>
        </div>

        <br />

        <div class="form-group">
            <label asp-for=Assessment.AssessmentName class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Assessment.AssessmentName class="form-control">
                <span asp-validation-for=Assessment.AssessmentName></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for=Assessment.AssessmentDescription class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="text" asp-for=Assessment.AssessmentDescription class="form-control">
                <span asp-validation-for=Assessment.AssessmentDescription></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for=Assessment.AssessmentTotalMark class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input type="number" asp-for=Assessment.AssessmentTotalMark class="form-control">
                <span asp-validation-for=Assessment.AssessmentTotalMark></span>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for=Assessment.AssessmentType class="control-label col-md-2"></label>
            <br />
            <div class="radio">
                <label asp-for=Assessment.AssessmentType class="control-label col-md-offset-2">
                    <input type="radio" asp-for=Assessment.AssessmentType value="project" />
                    <span asp-validation-for=Assessment.AssessmentType></span>Project
                </label>
            </div>

            <div class="radio">
                <label asp-for=Assessment.AssessmentType class="control-label col-md-offset-2">
                    <input type="radio" asp-for=Assessment.AssessmentType value="exam" />
                    <span asp-validation-for=Assessment.AssessmentType></span>Exam
                </label>
            </div>
        </div>

        @*Add Assessment to an existing Module
        Dropdown for existing modules that the Assessment may select.*@

        <div class="form-group">
            <label class="control-label col-md-2">Module options:</label>
            <div class="col-md-2">
                <select asp-for=Assessment.ModuleID >

                    @{
                        if (Model.ModuleListOptions != null)
                        {
                            foreach (var mod in Model.ModuleListOptions)
                            {
                                <option value=@mod.ModuleID>@mod.ModuleName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-md-10"></div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Enter details</button>
    </div>
</form>