@page
@model TRHDipComp_Project.Pages.CreateAssessmentModel
@{
    ViewData["Title"] = "Create Assessment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Create Assessment</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form method="post" class="form-horizontal" style="background-color:khaki; margin:0 auto">
    <div asp-validation-summary="All">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label asp-for=Assessment.AssessmentID class="control-label"></label>
                    <input type="text" asp-for=Assessment.AssessmentID class="form-control">
                    <span asp-validation-for=Assessment.AssessmentID></span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label asp-for=Assessment.AssessmentName class="control-label"></label>
                    <input type="text" asp-for=Assessment.AssessmentName class="form-control">
                    <span asp-validation-for=Assessment.AssessmentName></span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label asp-for=Assessment.AssessmentDescription class="control-label"></label>
                    <textarea type="text" asp-for=Assessment.AssessmentDescription class="form-control" rows="2"></textarea>
                    <span asp-validation-for=Assessment.AssessmentDescription></span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label asp-for=Assessment.AssessmentTotalMark class="control-label"></label>
                    <input type="number" asp-for=Assessment.AssessmentTotalMark class="form-control">
                    <span asp-validation-for=Assessment.AssessmentTotalMark></span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <label asp-for=Assessment.AssessmentType class="control-label text-right"></label>
                </div>
                <div class="col-md-2">
                    <div class="radio">
                        <label asp-for=Assessment.AssessmentType class="control-label">
                            <input type="radio" asp-for=Assessment.AssessmentType value="project" />
                            <span asp-validation-for=Assessment.AssessmentType></span>Project
                        </label>
                    </div>
                    <div class="radio">
                        <label asp-for=Assessment.AssessmentType class="control-label">
                            <input type="radio" asp-for=Assessment.AssessmentType value="exam" />
                            <span asp-validation-for=Assessment.AssessmentType></span>Exam
                        </label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />

            @*Add Assessment to an existing Module
                Dropdown for existing modules that the Assessment may select.*@

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label class="control-label">Module options:</label>
                    <select class="form-control" asp-for=Assessment.ModuleID>

                        @{
                            if (Model.ModuleListOptions != null)
                            {
                                foreach (var mod in Model.ModuleListOptions)
                                {
                                    <option value=@mod.ModuleID>@mod.ModuleName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-primary">Enter details</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />
        </div>
    </div>
</form>
