@page
@model TRHDipComp_Project.Pages.CreateProgrammeModel
@{
    ViewData["Title"] = "Create Programme";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Create Programme</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form method="post" class="form-horizontal" style="background-color:khaki; margin:0 auto">
    <div asp-validation-summary="All">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeID class="control-label"></label>
                    <input type="text" asp-for=Programme.ProgrammeID class="form-control">
                    <span asp-validation-for=Programme.ProgrammeID></span>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeName class="control-label"></label>
                    <input type="text" asp-for=Programme.ProgrammeName class="form-control">
                    <span asp-validation-for=Programme.ProgrammeName></span>
                    <div class="col-md-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeDescription class="control-label"></label>
                    <textarea type="text" asp-for=Programme.ProgrammeDescription class="form-control" rows="2"></textarea>
                    <span asp-validation-for=Programme.ProgrammeDescription></span>
                    <div class="col-md-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeQQILevel class="control-label"></label>
                    <input type="text" asp-for=Programme.ProgrammeQQILevel class="form-control">
                    <span asp-validation-for=Programme.ProgrammeQQILevel></span>
                    <div class="col-md-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeCredits class="control-label"></label>
                    <input type="text" asp-for=Programme.ProgrammeCredits class="form-control">
                    <span asp-validation-for=Programme.ProgrammeCredits></span>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <label asp-for=Programme.ProgrammeCost class="control-label"></label>
                    <input type="text" asp-for=Programme.ProgrammeCost class="form-control">
                    <span asp-validation-for=Programme.ProgrammeCost></span>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-primary">Enter details</button>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
</form>