@page "{id}"
@model TRHDipComp_Project.Pages.DeleteAssessmentModel
@{
    ViewData["Title"] = "Delete Assessment";
}

<h2>Delete Assessment @RouteData.Values["id"]</h2>

@if (RouteData.Values["id"] != null)
{
    @RouteData.Values["id"]
}
else
{
    <h2>Routing page, no ID routed </h2>
}

<script>
    function UserDeleteConfirmation() {
        return confirm("Confirm delete");
    }
</script>

<form method="post">
    <input type="hidden" asp-for=Assessment.AssessmentID>
    <button type="submit" class="btn btn-default" OnClick="UserDeleteConfirmation()">Delete module @RouteData.Values["id"]</button>
</form>


