@page  "{id}"
@model TRHDipComp_Project.Pages.DeleteStudentModel
@{
    ViewData["Title"] = "Delete Student";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Delete Student @Model.Student.ToString() </h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

@{
    if (Model.Student.StudentImage != null)
    {
        var base64 = Convert.ToBase64String(Model.Student.StudentImage);
        var imgSrc = String.Format("data:image/png;base64,{0}", base64);

        <img src=@imgSrc style="max-width:100px; max-height:100px;" />
    }
}

<script>
    function UserDeleteConfirmation() {
        return confirm("Confirm delete");
    }
</script>

<form method="post">
    <input type="hidden" asp-for=Student.StudentID>
    <button type="submit" class="btn btn-default" OnClick="UserDeleteConfirmation()">Delete student @Model.Student.ToString() </button>
</form>
