@page  "{id}"
@model TRHDipComp_Project.Pages.DeleteStudentModel
@{
    ViewData["Title"] = "Delete Student";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h2>Delete Student @RouteData.Values["id"]</h2>

@if (RouteData.Values["id"] != null)
{
    @RouteData.Values["id"]
}
else
{
    <h2>Routing page, no ID routed </h2>
}

<script>
    function UserDeleteConfirmation() {
        return confirm("Confirm delete");
    }
</script>

<form method="post">
    <input type="hidden" asp-for=Student.StudentID>
    <button type="submit" class="btn btn-default" OnClick="UserDeleteConfirmation()">Delete student @RouteData.Values["id"]</button>
</form>
