@page "{id}"
@model TRHDipComp_Project.Pages.DeleteModuleModel
@{
    ViewData["Title"] = "Delete Module";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Delete Module @Model.Module.ModuleName </h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<script>
    function UserDeleteConfirmation() {
        return confirm("Confirm delete");
    }
</script>

<form method="post">
    <input type="hidden" asp-for=Module.ModuleID>
    <button type="submit" class="btn btn-default" OnClick="UserDeleteConfirmation()">Delete module  @Model.Module.ModuleName </button>
</form>