@page
@model IndexModel
@{
    ViewData["Title"] = "Student Data Management app";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map-canvas {
        height: 100%;
        width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<br />
<br />
<br />

<div class="container text-center">
    <h1>Student Data Management app</h1>
    <br />

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/BusinessStudies.png" alt="Business Studies" class="img-responsive center-block" />
            <div>
                <br />
                <br />
                <p class="text-center">
                    Business courses at ITG prepare students for various business related employments to include <br />
                    work in commercial and public sector organisations and accountancy related areas.
                </p>
                <br />

            </div>
        </div>
        <div class="item">
            <img src="~/images/Hairdressing&Beauty.png" alt="Hair Dressing & Beauty" class="img-responsive center-block" />
            <div>
                <br />
                <br />
                <p class="text-center">
                    Learn current trends, techniques and innovations in a creative work and learning environment.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Art&Design.png" alt="Art & Design" class="img-responsive center-block" />
            <div>
                <br />
                <br />
                <p class="text-center">
                    ITG Art and Design courses offer a multi-dimensional learning experience which gives you the <br />
                    opportunity to develop your art and design concepts and ideas.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="RegisterStudent">Register Student</a>
    </div>
</div>


<div class="container">
    <br />
    <div id="header2">
        <a asp-page="ListStudents">List Students</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="CreateProgramme">Create Programme</a>
    </div>
</div>


<div class="container">
    <br />
    <div id="header2">
        <a asp-page="ListProgrammes">List Programmes</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="CreateModule">Create Module</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="CreateAssessment">Create Assessment</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="ListModules">List Programme, Module & Assessments</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="SearchStudentDetails">Search Student Details</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="SearchProgrammeDetails">Search Programme Details</a>
    </div>
</div>

<div class="container">
    <br />
    <div id="header2">
        <a asp-page="GetWeatherReport" target="_parent">GetWeatherReport</a>
    </div>
</div>

<h3> Today's weather @DateTime.Now.ToShortDateString()  @DateTime.Now.ToShortTimeString()</h3>

<br />

<br />

<p id="GetWeather"></p>

<p id="Location">Location </p>
<p id="Country">Country: </p>
<p id="WeatherMessage">Weather message: </p>
<p id="Temperature">Temperature : "°C"</p>
<p id="Humidity"> Humidity: </p>
<p id="WindSpeed">WindSpeed:  "Km/h"</p>
<p id="Latitude">Latitude: </p>
<p id="Longitude">Longitude: </p>

<br />
<br />


<p>About to draw map</p>

<div id="map-canvas">

</div>
<br />

@* Revisit
        <iframe id="map-canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

    <div style="width: 60%"><iframe width="600" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><br />

*@

<p>Map drawn!</p>

<script type="text/javascript" src="~/js/OpenWeatherMapGoogleMap.js">
</script>

<script>
    console.log("About to call getElementByID - GetWeather");
    document.getElementById("GetWeather").innerHTML = window.GetLocalWeather("2964179");
    console.log("About to call getElementByID - GetWeather called");
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA36dWzuzbrzb9ONyMA0PJSUwIj9yrImKA&callback=initMap"
        async defer>
</script>
