@page
@model TRHDipComp_Project.Pages.ListProgrammesModel
@{
    ViewData["Title"] = "List Programmes";
}

<h2>List Programmes</h2>

@{
    <h3>Details of all current programmes at ITG </h3>
    <table class="table table-bordered table-hover table-condensed table-functions-grad">
        <thead>
            <tr>
                <th>Programme name</th>
                <th>Programme details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var par in Model.ProgrammeList)
            {
                <tr>
                    <td>@par.ProgrammeName </td>
                    <td><a asp-page="/ShowProgrammeDetails" asp-route-id="@par.ProgrammeID">Programme details</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="/Index">Home</a>
}