@page
@model TRHDipComp_Project.Pages.ListProgrammesModel
@{
    ViewData["Title"] = "List Programmes";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Current Programmes</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form>
    <p>
        Programme:

        <input type="text" asp-for="ProgrammeSearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="container">
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <table class="table table-bordered table-hover table-condensed table-functions-grad">
            <thead>
                <tr>
                    <th>Programme</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var prog in Model.ProgrammesFound)
                    {
                        <tr>
                            <td><a asp-page="ShowProgrammeDetails" asp-route-id="@prog.ProgrammeID">@prog.ProgrammeName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<a asp-page="/Index">Home</a>