@page
@model TRHDipComp_Project.Pages.ListProgrammesModel
@{
    ViewData["Title"] = "List Programmes";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Current Programmes</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

@{
    <table class="table table-bordered table-hover table-condensed table-functions-grad">
        <thead>
            <tr>
                <th>Programme</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var par in Model.ProgrammeList)
            {
                <tr>
                    <td><a asp-page="/ShowProgrammeDetails" asp-route-id="@par.ProgrammeID">@par.ProgrammeName</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="/Index">Home</a>
}