@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We use cookies on our website to give you a better experience, improve performance, for analytics. </p>
<p>By using this website you agree to the use of cookies.</p>