@page
@model TRHDipComp_Project.Pages.SearchStudentDetailsModel
@{
    ViewData["Title"] = "Search student details";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Search Student Details</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form>
    <p>
        Student surname:
        Title:
        <input type="text" asp-for="StudentSearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-bordered table-hover table-condensed table-functions-grad">
    <thead>
        <tr>
            <th>Student name</th>
            <th>Student image</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var stud in Model.StudentsFound)
            {
                <tr>
                    <td><a asp-page="ShowStudentDetails" asp-route-id="@stud.StudentID">@stud.ToString()</a></td>
                    <td>
                        @{
                            if (@stud.StudentImage != null)
                            {
                                var base64 = Convert.ToBase64String(@stud.StudentImage);
                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);

                                <img src=@imgSrc style="max-width:50px; max-height:50px;" />
                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Index">Home</a>
