@page
@model TRHDipComp_Project.Pages.SearchProgrammeDetailsModel
@{
    ViewData["Title"] = "Search Programme Details";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Search Programme Details</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form>
    <p>
        Programme:

        <input type="text" asp-for="ProgrammeSearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Programme Name</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var prog in Model.ProgrammesFound)
            {
                <tr>
                    <td><a asp-page="ShowProgrammeDetails" asp-route-id="@prog.ProgrammeID">@prog.ProgrammeName</a></td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Index">Home</a>