@page "{id}"
@model TRHDipComp_Project.Areas.AssessmentResultPages.Pages.GetAssessmentsPerModuleModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAssessmentsPerModule</title>
</head>
<body>
</body>
</html>
